/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px black;
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #575555;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand';
  background-color: #1b1d22;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2.judul {
  text-align: center;
  font-weight: 600;
  margin-bottom: 70px;
  position: relative;
}

h2.judul:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  top: 0;
  border-bottom: 2px solid white;
  width: 100px;
  margin: auto;
}

.bg-darkv2 {
  background-color: #1b1d22;
}

.btn {
  padding: 10px 30px;
  color: white;
  background-color: #2f66c8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  color: white;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.btn-abu {
  background-color: #292a2e;
  color: gray;
}

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../img/bg.png');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about h1 {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 15px;
}

.about h1 b {
  font-weight: 600;
}

.about span {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 60px;
}

.about .sosmed {
  position: absolute;
  left: 120px;
  bottom: 50px;
}

.about .sosmed .col {
  margin-right: 10px;
}

.about .sosmed i {
  font-size: 30px;
  padding: 10px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about .sosmed i:hover {
  background-color: white;
  color: #1b1d22;
  cursor: pointer;
}

.recent {
  padding: 150px 0 0 0;
}

.recent a {
  text-decoration: none;
}

.recent .card {
  background-color: #292a2e;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.recent .card .box {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.recent .card .box .kotak {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.recent .card .box .kotak i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #292a2e;
  border-radius: 50%;
}

.recent .card .box::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.recent .card .card-text {
  font-weight: 300;
}

.recent .card .card-text b {
  font-weight: 600;
  display: block;
}

.recent .card:hover {
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.recent .card:hover .box::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.recent .card:hover .kotak {
  opacity: 1;
}

.recent .page-link {
  background-color: #292a2e !important;
  outline: none;
  border: none;
  color: white;
}

.recent nav li.active .page-link {
  background-color: #2f66c8 !important;
}

.up {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #292a2e;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.up:hover {
  background-color: white;
  color: #292a2e;
  text-decoration: none;
}

.skill {
  padding-bottom: 70px;
  padding-top: 150px;
}

.contact {
  padding: 70px 0;
}

.contact input,
.contact textarea {
  width: 100%;
  background-color: #292a2e;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px 20px;
  display: block;
  color: gray;
}

.contact input,
.contact textarea:focus {
  color: white;
}

footer i {
  font-size: 20px;
  cursor: pointer;
}
.box-single {
  background-color: #292a2e;
  color: white;
  border-radius: 20px;
  padding: 40px;
}
.gambar-single {
  border-radius: 20px;
  display: block;
}
.judul-single {
  margin-bottom: 20px;
}
.content-single {
  color: rgb(233, 233, 233);
}
.tools-single img {
  width: 70px;
  margin: 20px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 735px) {
  .about {
    background-image: none;
  }
  .sosmed {
    left: 10px !important;
    bottom: 30px !important;
  }
  .box-single {
    background: none;
    padding: 20px;
  }
  .tools-single img {
    width: 30px;
    margin: 20px;
  }
}

@media only screen and (max-width: 573px) {
  .live-btn-single {
    width: 100%;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */
