{{ define "main" }}

<div class="container box-single" style="margin-top: 100px">
  <!-- Swiper -->
  <div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      {{if .Params.gambar}}
      <div data-hash="slide1" class="swiper-slide">
        <img data-src="/img/portofolio/{{.Params.gambar}}" alt="" class="lazyload gambar-single img-fluid" />
      </div>
      {{end}} {{if .Params.gambar2}}
      <div data-hash="slide2" class="swiper-slide">
        <img data-src="/img/portofolio/{{.Params.gambar2}}" alt="" class="lazyload gambar-single img-fluid" />
      </div>
      {{end}} {{if .Params.gambar3}}
      <div data-hash="slide3" class="swiper-slide">
        <img data-src="/img/portofolio/{{.Params.gambar3}}" alt="" class="lazyload gambar-single img-fluid" />
      </div>
      {{end}} {{if .Params.gambar3}}
      <div data-hash="slide4" class="swiper-slide">
        <img data-src="/img/portofolio/{{.Params.gambar4}}" alt="" class="lazyload gambar-single img-fluid" />
      </div>
      {{end}} {{if .Params.UrlGambar}}
      <div data-hash="slide4" class="swiper-slide">
        <img data-src="{{.Params.UrlGambar}}" alt="" class="lazyload gambar-single img-fluid" />
      </div>
      {{end}}
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- akhir swiper -->
  <br />
  <div class="row">
    <div class="col-sm-6">
      <h1 class="judul-single"><b>{{.Title}}</b></h1>
      <span>Dipublish : {{ .PublishDate.Format "2 January 2006 " }}</span>
    </div>
    <div class="col-sm-6 text-right">
      <a href="{{.Params.previewlink}}" class="btn btn-primary live-btn-single" target="_blank">Live Preview</a>
    </div>
  </div>
  <hr />

  {{if .Content}}
  <h4><b>Deskripsi</b></h4>
  {{end}}

  <div class="content-single">
    {{.Content}}

    <!--  -->
    {{if .Params.tools}}
    <h4><b>Tools</b></h4>
    {{end}}

    <div class="tools-single">
      {{with .Params.tools}} {{range .}} {{ if eq . "html" }}
      <img data-src="/img/html.png" class="lazyload" />
      {{ else if eq . "js" }}
      <img data-src="/img/js.png" class="lazyload" />
      {{ else if eq . "vscode" }}
      <img data-src="/img/vscode.png" class="lazyload" />
      {{ else if eq . "php" }}
      <img data-src="/img/php.png" class="lazyload" />
      {{ else if eq . "bootstrap" }}
      <img data-src="/img/bootstrap.png" class="lazyload" />
      {{ else if eq . "xd" }}
      <img data-src="/img/xd.png" class="lazyload" />
      {{ else if eq . "figma" }}
      <img data-src="/img/figma.png" class="lazyload" />
      {{ else if eq . "css" }}
      <img data-src="/img/css.png" class="lazyload" />
      {{ else if eq . "laravel" }}
      <img data-src="/img/laravel.png" class="lazyload" />
      {{ else if eq . "ci" }}
      <img data-src="/img/ci.png" class="lazyload" />
      {{ else if eq . "sass" }}
      <img data-src="/img/sass.png" class="lazyload" />
      {{end}} {{end}} {{end}}
    </div>
  </div>
</div>

<!-- komentar disqus -->
<!-- <div class="container">
  <div id="disqus_thread"></div>
</div>
<script>
  /**
   *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
   *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
  /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
  (function () {
    // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement('script');
    s.src = 'https://wcoding.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script> -->
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!--akhir komentar disqus -->

{{ end }}
